.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px; 
    width: 100%;
    min-height: 100vh;
}

.list {
    width: 100%;
    max-width: 500px;
}