.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 100px 0 0;
    gap: 40px;
    width: 100%;
    min-height: 80vh;
    background: #fff;
}

.mainInfo {
    width: 260px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.pageTitle {
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 18px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #f197c4;
    margin-bottom: 10px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.email {
    font-size: 14px;
    color: #555;
    margin-top: -10px;
}

.followStats {
    display: flex;
    gap: 20px;
    font-size: 16px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.actionButton {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    background: linear-gradient(135deg, #f197c4, rgb(236, 83, 165));
    color: #fff;
    border: none;
}

.actionButton:hover {
    background: linear-gradient(135deg, #d986ad, rgb(212, 75, 148));
}

.reviewsContainer {
    width: 100%;
    max-width: 800px;
    border: 1px solid #e1e4e8;
    min-height: 600px;
    padding: 20px;
    margin-top: 0;
    background: #fff;
}

.followLink {
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.followLink:hover {
    text-decoration: underline;
}

.reviewsContainer ul {
    list-style: none;
    padding: 0;
}

.reviewsContainer li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}